<section class="about-section text-center" id="about">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <% curriculo.forEach(curriculo => { %>
                    <% if(curriculo.id == 1){ %>
                        <div class="col-lg-4 mb-5">
                            <img class="img-fluid-about" src="/assets/img/thayna.png" /><br>
                        </div>
                        <div class="col-lg-6">
                            <p class="text-black mb-4 text-uppercase fs-5 text-center"><%= curriculo.name %></p>

                            <p class="text-black text-uppercase fs-5 text-start">Sobre mim</p>
                            <p class="text-black"><%- curriculo.about %></p>

                            <p class="text-black mb-4 text-uppercase fs-5 text-start">Experiência</p>
                            <p class="text-black" style="text-align: justify;"><%- curriculo.experience %></p>

                            <p class="text-black mb-4 text-uppercase fs-5 text-start">Cursos</p>
                            <p class="text-black" style="text-align: justify;"><%- curriculo.course %></p>

                            <p class="text-black mb-4 text-uppercase fs-5 text-start">Habilidades</p>
                            <p class="text-black" style="text-align: justify;"><%- curriculo.ability %></p>
                            
                        </div>
                    <% } %>
                <% }) %>
            </div>
        </div>
    </div>
</section>