<!DOCTYPE html>

<html lang="pt-BR">
<%- include("partials/head.ejs") %>
    <body id="page-top">
        <!-- Navigation-->
        <%- include("partials/navbar.ejs") %>
        <!-- Masthead-->
        <%- include("partials/header.ejs") %>
        <!-- About-->
        <%- include("sections/01_about.ejs") %>
        <!-- Projects-->
        <%- include("sections/02_projects.ejs") %>
        <!-- Signup-->
        <%- include("sections/03_signup.ejs") %>
        <!-- Contact-->
        <%- include("sections/04_contact.ejs") %>
        <!-- Footer-->
        <%- include("partials/footer.ejs") %>
    </body>
</html>
