<%- include("../../partials/head.ejs") %>
<!-- Navigation-->
<%- include("../../partials/navbar.ejs") %>
    <div id="curriculo">
        <div class="container mt-5">
            <div class="row justify-content-center">
                <p class="text-black mb-4 text-uppercase fs-5 text-center mt-5">Atualizar Currículo</p>
                <div class="col-12 mb-5">
                    <form method="POST" action="/curriculo/update">
                        <div class="form-group mb-2">
                            <input type="text" name="name" class="form-control" placeholder="Nome e sobrenome" value="<%= curriculo.name %>" required>
                        </div>
                        <div class="form-group mb-2">
                            <textarea id="curriculo-about" type="text" name="about" class="form-control" required><%= curriculo.about %></textarea>
                        </div>
                        <div class="form-group mb-2">
                            <textarea id="curriculo-experience" type="text" name="experience" class="form-control" required><%= curriculo.experience %></textarea>
                        </div>
                        <div class="form-group mb-2">
                            <textarea id="curriculo-course" type="text" name="course" class="form-control" required><%= curriculo.course %></textarea>
                        </div>
                        <div class="form-group mb-2">
                            <textarea id="curriculo-ability" type="text" name="ability" class="form-control" required><%= curriculo.ability %></textarea>
                        </div>
                        <div class="form-group mb-2">
                            <input type="email" name="email" class="form-control" value="<%= curriculo.email %>" required>
                        </div>
                        <div class="form-group mb-2">
                            <input type="password" name="password" class="form-control" value="<%= curriculo.password %>" required>
                        </div>
                        <div class="form-group mb-2">
                            <input type="password" name="passwordCheck" class="form-control" value="<%= curriculo.password %>" required>
                        </div>
                        <input type="hidden" name="id" value="<%= curriculo.id %>"> 
                        <div class="text-center mt-3">
                            <button type="submit" class="btn btn-dark">Atualizar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
<!-- Contact-->
<%- include("../../sections/04_contact.ejs") %>
<!-- Footer-->
<%- include("../../partials/footer.ejs") %>

<script>
    tinymce.init({
        selector: "#curriculo-about",
        plugins:
            'advlist autolink link image lists print preview hr searchreplace wordcount fullscreen insertdatetime media save table paste emoticons'
    });
</script>

<script>
    tinymce.init({
        selector: "#curriculo-ability",
        plugins:
            'advlist autolink link image lists print preview hr searchreplace wordcount fullscreen insertdatetime media save table paste emoticons'
    });
</script>

<script>
    tinymce.init({
        selector: "#curriculo-experience",
        plugins:
            'advlist autolink link image lists print preview hr searchreplace wordcount fullscreen insertdatetime media save table paste emoticons'
    });
</script>

<script>
    tinymce.init({
        selector: "#curriculo-course",
        plugins:
            'advlist autolink link image lists print preview hr searchreplace wordcount fullscreen insertdatetime media save table paste emoticons'
    });
</script>

<% if(message==false){ %>
    <script>
        Swal.fire({
            icon: 'Erro',
            title: 'O seguinte erro ocorreu:',
            text: '<%=error%>',
            confirmButtonColor: '#009dff',
            showConfirmButton: true
        })
    </script>
<% }%>