<%- include("../../partials/head.ejs") %>
<!-- Navigation-->
<%- include("../../partials/navbar.ejs") %>
    <div id="curriculo">
        <div class="container mt-5">
            <div class="row justify-content-center">
                <p class="text-black mb-4 text-uppercase fs-5 text-center mt-5">Atualizar Currículo</p>
                <div class="col-12 mb-5">
                    <form method="POST" action="/curriculo/update" onsubmit=successUpdated(event,this)>
                        <div class="form-group mb-2">
                            <input type="email" name="email" class="form-control" value="<%= curriculo.email %>">
                        </div>
                        <div class="form-group mb-2">
                            <input type="password" name="password" class="form-control" value="<%= curriculo.password %>">
                        </div>
                        <div class="form-group mb-2">
                            <textarea type="text" name="about" class="form-control" value="<%= curriculo.about %>"></textarea>
                        </div>
                        <div class="form-group mb-2">
                            <textarea type="text" name="ability" class="form-control" value="<%= curriculo.ability %>"></textarea>
                        </div>
                        <div class="form-group mb-2">
                            <textarea type="text" name="experience" class="form-control" value="<%= curriculo.experience %>"></textarea>
                        </div>
                        <div class="form-group mb-2">
                            <textarea type="text" name="course" class="form-control" value="<%= curriculo.course %>"></textarea>
                        </div>
                        <input type="hidden" name="id" value="<%= curriculo.id %>"> 
                        <div class="text-center mt-3">
                            <button type="submit" class="btn btn-dark">Atualizar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
<!-- Contact-->
<%- include("../../sections/04_contact.ejs") %>
<!-- Footer-->
<%- include("../../partials/footer.ejs") %>